.emp_tabs_dashboard{
    margin-top: 20px;
    top: 0;
    display: flex;
      flex-direction: row;
      justify-content:space-evenly;
      align-items: center;
      gap: 4rem;
      padding: 0.5rem;
      border: 0.1rem solid rgb(3, 3, 3);
      border-radius: 1.5rem;
      width: 50rem;
      margin-left: 18rem;
  }
  .logout_div {
    display: flex;
    
    flex-direction: column ;
     align-items: flex-end;
    
  }
  .emp_logout_org {
background-color: red;
margin-top: -3rem;
margin-right: 7.3rem;
  }
  .emp_logout_org:hover {
    background-color: darkred;
  }
  .employee_heading {
    display: flex;
    flex-direction: column;
    /* align-items: center; 
     justify-content: center; */
   margin-left: 34rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .emp_logout {
    background-color: red ;
   
    margin-top: -3rem;
    margin-right: -130px;
  }
  .emp_logout:hover {
    background-color: darkred;
  }
  .admin_employee, .admin_manager, .admin_project, .admin_add_employee {
    background-color:rgb(255, 255, 255);
    height: 1.5rem;
    width: auto;
    /* padding: 0.5rem 1rem; */
    /* padding: 3px; */
    /* border-image:  linear-gradient(0deg, rgba(8,3,105,1) 0%, rgba(9,9,121,1) 12%, rgba(8,28,133,1) 23%, rgba(0,212,255,1) 100%); */
    ;
   border-style: solid;
    border-radius: 0.8rem;
    color: rgb(0, 0, 0);
    cursor: pointer !important;
}
/* .admin_project.active {
  background-color: black;
} */
