.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  .btn_popup{

  }
  .popup button {
    margin-top: 10px;
  }
  .close_popup{
    background-color: #f72828;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 30px;
    cursor: pointer;
    margin-right: 6px;
  }
  .close_popup:hover{
    background-color: #ac1a1a;
  }
  
   /* @import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-family: 'Forum', cursive;
}
.popup-content button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
} */